<ng-include src="'./app/post/menu.html'"></ng-include>
<div class="container">
  <br>
  <br>
  <div ng-show="!fallo&&!hecho">
  <h1>Datos del registro seleccionado</h1>
  <br>
  <br>
  <br>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Campo</th>
        <th scope="col">Datos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">ID</th>
        <td>{{post.id}}</td>
      </tr>
      <tr>
        <th scope="row">Titulo</th>
        <td>{{post.titulo}}</td>
      </tr>
      <tr>
        <th scope="row">Cuerpo</th>
        <td>{{post.cuerpo}}</td>
      </tr>
      <tr>
        <th scope="row">Etiquetas</th>
        <td>{{post.etiquetas}}</td>
      </tr>
      <tr>
        <th scope="row">Fecha</th>
        <td>{{post.fecha}}</td>
      </tr>
    </tbody>
  </table>

  <br>
  <p>Esta seguro que quiere borrar este registro?</p>
  <div class="row">
    <div class="col align-self-end">
      <button type="button" class="btn btn-primary btn-lg" ng-click="borrar()">Si</button>
      <button type="button" class="btn btn-secondary btn-lg" ng-click="volver()">No</button>
    </div>
  </div>
</div>
<div ng-show="!fallo&&hecho">
  <div class="alert alert-success text-center" role="alert">
    <h2>Post eliminado con éxito</h2>
  </div>
  <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
  <button class="btn btn-primary" ng-click="volver()">Volver</button>
</div>
<div ng-show="fallo&&hecho">
  <div class="alert alert-danger text-center" role="alert">
    <h2>Ha ocurrido un error al eliminar el Post</h2>
  </div>
  <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
  <button class="btn btn-primary" ng-click="volver()">Volver</button>
</div>
</div>